BACKEND_PORT=8100
STOREFRONT_PORT=3300
SALEOR_DB_USER=saleor
SALEOR_DB_PASSWORD=saleor
SALEOR_DB_NAME=saleor
DATABASE_URL=postgres://saleor:saleor@saleor-db/saleor
BACKEND_PUBLIC_URL=http://localhost:8100/
SALEOR_GRAPHQL_PUBLIC_URL=http://localhost:8100/graphql/
SALEOR_DASHBOARD_PUBLIC_URL=http://localhost:8100/app/
SECRET_KEY=change-me-for-local-development
CACHE_URL=redis://saleor-cache:6379/0
CELERY_BROKER_URL=redis://saleor-cache:6379/1
DEFAULT_CHANNEL_SLUG=momo-br
HTTP_IP_FILTER_ALLOW_LOOPBACK_IPS=True
HTTP_IP_FILTER_ENABLED=True
DEFAULT_FROM_EMAIL=noreply@momo.local
EMAIL_URL=smtp://mailpit:1025
APP_MOUNT_URI=/app/
LOCALE_CODE=EN
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-me
DJANGO_SUPERUSER_FIRST_NAME=Momo
DJANGO_SUPERUSER_LAST_NAME=Admin
ALLOWED_HOSTS=localhost,127.0.0.1,backend,saleor-api,api.momo.minutarecore.space
