BACKEND_PORT=8100
STOREFRONT_PORT=3300
BACKEND_PUBLIC_URL=http://localhost:8100/
SALEOR_GRAPHQL_PUBLIC_URL=http://localhost:8100/graphql/
SALEOR_DASHBOARD_PUBLIC_URL=http://localhost:8100/app/
SALEOR_ALLOWED_HOSTS=localhost,127.0.0.1,backend,saleor-api,api.momo.minutarecore.space
