STORE_CORS=https://momo.minutarecore.space
ADMIN_CORS=https://api.momo.minutarecore.space
AUTH_CORS=https://api.momo.minutarecore.space
REDIS_URL=redis://redis:6379
JWT_SECRET=<gerar com: openssl rand -base64 32>
COOKIE_SECRET=<gerar com: openssl rand -base64 32>
DATABASE_URL=postgres://medusa:medusa_password@postgres:5432/medusa_db
DB_NAME=medusa_db
